<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="cards">
      <h1>Servicios</h1>
      <div class="services">
        <div class="content content-3">
          <div class="fas fa-utensils">
          </div>
          <h2>Desayuno</h2>
          <p>Brindamos ricos, nutritivos y saludables desayunos para que pueda comenzar el dia de la mejor
            manera posible. Contamos con servicio a la habitacion.</p>
        </div>
        <div class="content content-2">
          <div class="fas fa-glass-cheers">
          </div>
          <h2>Bebidas</h2>
          <p>¿Desea refrescar su dia? Contamos con un servicio de bebidas en donde podra ordenar la bebidas
            que le brindaran satisfaccion en todo momento.</p>
        </div>
        <div class="content content-1">
          <div class="fas fa-wifi">
          </div>
          <h2>Wi-Fi</h2>
          <p>Conexion Wi-Fi todo el dia dentro y a los al rededores de nuestras instalaciones para que
            pueda compartir en redes sociales sus experiencias vividas.</p>
        </div>
      </div>
    </div>
  </body>
  