/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--header--*/
h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    
}

body p{
    font-family: 'Poppins', sans-serif;
}
ul ,ol {
	 padding:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
a:hover, a:focus {
    text-decoration: none !important;
}
/*--- slider-css --*/
.slider{
	position:relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  
  }
.rslides li {
  /*-webkit-backface-visibility: hidden;*/
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: 100%;
  float: left;
  width: 100%;
  border: 0;
  }


.linkEffects ul{
	margin:0;
	padding:0;
    text-align:center;
    margin-left: 110px;
}
.linkEffects li{
	list-style:none;
	display:inline-block;
	margin: 15px 25px;
}
.linkEffects li a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	position: relative;
	display: inline-block;
	outline: none;
    color:black;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.linkEffects a:hover,
.linkEffects a:focus {
	outline: none;
}

/* ******************************************************
	Effect 2: Changer .linkHoverEffect_2
*********************************************************/

.linkHoverEffect_2 li {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.linkHoverEffect_2 li a {

  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}


.linkHoverEffect_2 li a:before {
    position: absolute;
    top: 100%;
    content: attr(data-link-alt);
    color: bl;
    font-weight: bold;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /*font-weight: 400 !important;*/
}


.linkHoverEffect_2 li:hover a,
.linkHoverEffect_2 li:focus a {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-nav > li {
   margin: 0 0.5em;
}
.navbar-default .navbar-nav > li > a {
    color: black !important;
	font-size: 1.2em;
	padding: 1.8em 1em;
    position: relative;
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: black !important;
	background:none!important;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.header {
    position: relative;
}
.agile-top-header {
    position: absolute;
    z-index: 999;
    top: 3%;
    left: 10%;
	width:80%;
}
.top-nav {
    margin-top: 7px;
}

nav.linkEffects.linkHoverEffect_2 ul li a.active {
    color: black !important;
    font-weight: bold;
}
/*-- //top-nav --*/
/*--// navigation --*/


/*-- header --*/
.banner-agile-top .number h3 {
    float: left;
	font-size: 1.2em;
}


nav.navbar.navbar-default {
    right: 14px;
    float: left;
}


/*-- //search --*/
/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}


.slider-info {
    position: absolute;
    top: 22em;
    z-index: 999;
    left: 13em;
    width: 50%;
    height: 100%;
}

.slider-info1 {
    background-image: url(../../../assets/hotel.jpg);
   background-size: 100% 100%;
   background-attachment: fixed;
   padding: 380px 0;
}



.slider-info h3, .slider-info1 h3, .slider-info2 h3 {
    font-size: 45px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    /* margin: 20px 0px; */
    width: 50%;
    margin-left: 4em;
    margin-bottom: .5em;

    padding-left: 20px;
}

.slider-info p, .slider-info1 p, .slider-info2 p {
    font-size: 35px;
    font-weight: 100;
    color: #d3d8d8;

    letter-spacing: 1px;
    padding-left: 25px;
    padding-right: 25px;

    width: 100%;
    margin: 0 auto;
    background:rgba(8, 8, 8, 0.32);
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}
.slider-info h4 {
    font-size: 45px;
    color: #b56d10;
	letter-spacing: 3px;
	text-transform:uppercase; 
	margin-top: 7px;
}
h6 {
	margin:0 auto;
	z-index:999;
}
h6 a{
	cursor:pointer;
	font-size:15px;
	text-transform:uppercase;
}
.slider-top span{
font-weight:600;
}



.main {
  position: absolute;
    top:21%;
    right: 7%;
    z-index: 999;
}
.booking-form-head-agile h3 {
    color: #f5f5f5;
    text-align: center;
}
.main h1{
	text-align: center;
    color: #fff;
    font-size: 3em;
    margin-bottom: 1em;
}
.w3layouts_main_grid {
    width: 100%;
    padding: 2em;
    margin: 0 auto;
    background:rgba(8, 8, 8, 0.32);
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}
.w3layouts_main_grid  {
    padding: 2em;
    display: block;
}
.w3layouts_main_grid h5{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    margin: .8em 0 0;
	padding-bottom: 0.5em;
}


.w3layouts_main_grid input[type="text"]{
    outline: none;
    width: 92%;
    background: #fff;
    color:#4B4B4B;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
.w3layouts_main_grid input[type="email"] {
    outline: none;
    width: 100%;
    background: #fff;
    color:#4B4B4B;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}


.w3_main_grid_right input[type="submit"], button{
	width:100%;
}

.nam1 {
    float: left;
    width: 49%;
    margin-left: 2%;
}
.nam {
    float: left;
    width: 49%;
}
.agileits_grid {
    margin-bottom: 14px;
}
.agileits_w3layouts_main_grid.w3ls_main_grid {
    margin-bottom: 16px;
}
.agileits_main_grid.w3_agileits_main_grid {
    margin-bottom: 16px;
}
.banner-agile-top {
    margin: 1em 0 0 0;
}
/*--//header --*/
/*--/about --*/


@media(max-width:1440px){
	.main {
    top: 30%;
	}
	.slider-info p, .slider-info1 p, .slider-info2 p {
    width: 34%;
	}
	.slider-info h3, .slider-info1 h3, .slider-info2 h3 {
    margin-left: 3em;
	}
	.slider-info p, .slider-info1 p, .slider-info2 p {
    font-size: 14px;
    font-weight: 100;
    color: #d3d8d8;
    margin-left: 10em;
	}
}

.titulo{
    text-align: center;
    font-size: 80px;
    color: black;
    /*-webkit-text-stroke: 2px #e25111;*/
}

