<body>
    <div class="container">
      <div class="card">
        <div class="img">
           <img src="../../../assets/habitacion1.jpg">
        </div>
        <div class="top-text">
          <div class="name">
            Habitaciones con</div>
          <p>
            Camas sencillas</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            Contamos con varias habitaciones con una, dos o hasta tres camas sencillas, es decir, de un cuerpo.</div>
        </div>
      </div>
      <div class="card">
        <div class="img">
          <img src="../../../assets/habitacion2.jpg">
        </div>
        <div class="top-text">
          <div class="name">
              Habitaciones con</div>
          <p>
            Camas dobles</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            Habitaciones una y hasta dos camas dobles o matrimoniales para que goze de libertad de movimiemto al dormir.</div>
        </div>
      </div>
      <div class="card">
        <div class="img">
          <img src="../../../assets/habitacion3.jpg">
        </div>
        <div class="top-text">
          <div class="name">
              Habitaciones con</div>
          <p>
            Cama doble y sencilla</p>
        </div>
        <div class="bottom-text">
          <div class="text">
            Habitaciones especiales para familias en donde podran ospedarse todos. Los padres dormiran comodamente en
          la cama matrimonial y los niños tendran sus camas sencillas.</div>
        </div>
      </div>
    </div>
  </body>
  
  