<div >
    <div class="container">
        <div class="contact-agileits-title">
            <br><br>
            <h1>Contáctenos</h1>
        </div>
        <div class="clearfix"></div>
        <!--get in touch start here-->
        <div class="get-touch" id="contact1">
            <div class="get-touch-main">
                <div class="get-touch-bottom">
                    <form action="#" method="post">
                        <br>
                        <input type="text" placeholder="Nombre" name="First Name" required="">
                        <input type="text" class="no-mar" placeholder="Apellido" required="">
                        <br><br>
                        <input type="text" placeholder="Numero de telefono" name="phone" required="">
                        <input type="email" class="no-mar" placeholder="Email" name="Email" required="">
                        <br><br>
                        <textarea placeholder="Escriba aqui su mensaje" name="Message" required=""></textarea><br><br>
                        
                    </form>
                    <button  class="btn btn-secondary btn-lg btn-block">ENVIAR MENSAJE</button>
                    <br>
                </div>
            </div>
        </div>
        <!--get in touch end here-->
    </div>
</div>