<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  
  
  
  
  
  <div class="vertical">
    <input type="checkbox" id="check">
  
    <div class="sidebar">
      <header><img src="../../assets/Logo Sugeydigch.png" width="250" height="240"></header><hr><hr><hr>
      <ul>
        <li><a href="/Recepcionista/NuevaReserva"><i class="fas fa-concierge-bell"></i>Nueva Reserva</a></li>
        <li><a href="/Recepcionista/ConsultarReservas"><i class="fas fa-hotel"></i>Reservas</a></li>
        <li><a href="Recepcionista/ConsultarHabitaciones"><i class="fas fa-bed"></i>Habitaciones</a></li>
        <!--
        <li><a href="#"><i class="fas fa-cocktail"></i>Servicios</a></li>
        <li><a href="#"><i class="fas fa-comments-dollar"></i>Descuentos</a></li>
        -->
        <li><a href="/Recepcionista/ConsultarClientes"><i class="fas fa-users"></i>Clientes</a></li>
      </ul>
    </div>
  
    <div class="horizontal">
      <nav>
        <label class="logo">La Maravilla</label>
        <ul>
          <li><a href="#" (click)="logOut()"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
      </nav>
  
      <section></section>
    </div>
  </div>
  