<div class="todo">

    <app-nav-bar-administrador></app-nav-bar-administrador>
  
    <div class="container">
      <h1>Gestionar Personal</h1><br>
  
      <div class="card">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <br>
        
          <div class="form-row">
  
            <div class="col-md-3 mb-3">
              <label class="y">Identificacion:</label>
              <input [(ngModel)]="login.identificacion" type="text" formControlName="identificacion" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }" placeholder="Identificacion">
        
              <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback">
                <div *ngIf="f.identificacion.errors.required">Este Campo Es Requerido</div>
              </div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="y">Ususario:</label>
              <input [(ngModel)]="login.usuario" type="text" formControlName="usuario" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" placeholder="Usuario">
        
              <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                <div *ngIf="f.usuario.errors.required">Este Campo Es Requerido</div>
              </div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="y">Contraseña:</label>
              <input [(ngModel)]="login.clave" type="text" formControlName="clave" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.clave.errors }" placeholder="Contraseña">
        
              <div *ngIf="submitted && f.clave.errors" class="invalid-feedback">
                <div *ngIf="f.clave.errors.required">Este Campo Es Requerido</div>
              </div>
            </div>

            <div class="col-md-3 mb-3">
                <label class="y">Rol:</label>
          
                <select [(ngModel)]="login.rol" formControlName="rol" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.rol.errors }" >
                    <option>ADMINISTRADOR</option>
                    <option>RECEPCIONISTA</option>
                </select>
          
                <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
                  <div *ngIf="f.rol.errors.required">Este Campo Es Requerido</div>
                </div>
              </div>
        
          </div>
        
          <button class="btn btn-outline-success new add">Agregar Nuevo Personal</button>
            
        </form>
        <br>
      </div>
      <br>
  
      <div class="card">
        <div class="card-body">
  
          <div class="input-group mb-3">
            <h5 class="col-sm-2 col-form-label">Personal</h5>
            <input type="text" class="form-control"
              placeholder="Filtrar por identificacion, nombre, rol">
            <div class="input-group-append">
              <button class="btn btn-outline-info" (click)="getAll()" type="button">Recargar Lista<i
                  class="fas fa-sync-alt"></i></button>
            </div>
          </div>
  
          <hr>
  
          <div class="table-container">
            <table id="tabla" class="table-striped tabla">
              <thead>
                <tr>
                  <th scope="col">Identificacion</th>
                  <th scope="col">Ususario</th>
                  <th scope="col">Contraseña</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let login of logins">
                  <td>{{login.identificacion}}</td>
                  <td>{{login.usuario}}</td>
                  <td>{{login.clave}}</td>
                  <td>{{login.rol}}</td>
                  <td><a routerLink="#" (click)="delete(login)"  class="button" ><span><i class="fas fa-minus-circle"></i></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  