* {
    box-sizing: border-box;
  }
  
  .todo{
    background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
  }
  
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #24252a;
    width: 100%;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 25px;
    padding-top: 15px;
  }
  
  .nav__links li a {
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  .container{
  width: 80%;
  }
  
  h1{
  text-align: center;
  padding-top: 15px;
  }
  
  
  th, td{
    font-size: large;
    text-align: center;
  }
  
  
  .icono{
    border: none;
    background: transparent;
    width: 100%;
  }
  
  .tabla{
    height: 5px;
    overflow-y: auto;
    width: 100%;
  }
  
  .fa-minus-circle{
    color:red;
    display: inline-block;
  }
  
  .button{
   border: none;
   background: transparent;
  }

  .add{
    width: 70%;
    margin-left: 15%;
  }

  .fa-eye{
    padding-left: 10px;
  }

  .fa-sync-alt{
    padding-left: 10px;
  }