.container{
    max-width: 96%;
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
}


th, td{
    font-size: large;
    text-align: center;
}


.icono{
    border: none;
    background: transparent;
    width: 100%;
}

.button{
    display: inline-block;
    color: black;
}

.tabla{
    height: 5px;
    overflow-y: auto;
    width: 100%;
}

.fa-edit{
    color:green;
    display: inline-block;
}

.todo{
   background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
   margin-left: 250px;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 75px;
}

.fa-sync-alt{
    padding-left: 10px;
}

.new{
    width: 70%;
    margin-left: 15%;
}

.select{
    border: none;
    background: transparent;
}

.fa-minus-circle{
    color:red;
    display: inline-block;
  }
  
button{

   background: transparent;
}

.col-md-5{
    padding-left: 30px;
    padding-right: 30px;
}
