* {
    box-sizing: border-box;
  }

  .todo{
    background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
}
  
  .barra{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #24252a;
    width: 100%;
  }

  img{
    width:100px; 
    height:95px;
    margin-left: 0px;
  }
  
  .nav__links a,
  .cta {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }

  .name{
      padding-top: 12px;
    color: #edf0f1;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 25px;
    padding-top: 15px;
  }
  
  .nav__links li a  {
    padding: 5px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

.container{
  width: 80%;
}

h3{
  padding-top: 15px;
}

.tabla{
  height: 5px;
  overflow-y: auto;
  width: 100%;
}

th, td{
  font-size: large;
  text-align: center;
}

  
  
  