.container{
    max-width: 96%;
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.card{
    background: whitesmoke;
}


.btn-outline-success{
    width: 70%;
    margin-left: 15%;
}

.habi{
    color: white;
}


.todo{
    background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
   margin-left: 250px;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 75px;
}

.fa-bed, .fa-hotel{
    padding-left: 15px;
    font-size: 25px;
}




