.container{
    max-width: 96%;
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.card{
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

th, td{
    font-size: large;
    text-align: center;
}


.icono{
    border: none;
    background: transparent;
    width: 100%;
}

.button{
    display: inline-block;
    color: black;
    padding: 10px;
}

.btn-outline-success{
    width: 100%;
}

.table{
    height: 5px;
    overflow-y: auto;
    width: 45%;
}

.tablaClientes{
    height: 5px;
    overflow-y: auto;
    width: 100%;
}

.fa-check-circle{
    color:green;
    display: inline-block;
}

.habi{
    color: white;
}


.todo{
    background-color: whitesmoke;
   background-size: 100% 100%;
   background-attachment: fixed;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
}

h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.fa-sync-alt{
    padding-left: 10px;
}

.select{
    border: none;
    background: transparent;
}

.btn-outline-success{
    font-family: 'Poppins', sans-serif;
}

.fa-bed, .fa-hotel{
    padding-left: 15px;
    font-size: 25px;
}



