<div class="todo">

  <app-nav-bar-administrador></app-nav-bar-administrador>

  <div class="container">
    <h1>Gestionar Habitaciones</h1><br>

    <div class="card">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <br>
      
        <div class="form-row">

          <div class="col-md-3 mb-3">
            <label class="y">Numero de habitacion:</label>
            <input [(ngModel)]="habitacion.numeroHabitacion" type="number" formControlName="numeroHabitacion" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.numeroHabitacion.errors }" placeholder="Numero de habitacion">
      
            <div *ngIf="submitted && f.numeroHabitacion.errors" class="invalid-feedback">
              <div *ngIf="f.numeroHabitacion.errors.required">Este Campo Es Requerido</div>
            </div>
          </div>
      
          <div class="col-md-3 mb-3">
            <label class="y">Tipo habitacion:</label>
      
            <select [(ngModel)]="habitacion.tipoDeHabitacion" formControlName="tipoDeHabitacion" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.tipoDeHabitacion.errors }" >
                <option>SIMPLE</option>
                <option>DOBLE</option>
            </select>
      
            <div *ngIf="submitted && f.tipoDeHabitacion.errors" class="invalid-feedback">
              <div *ngIf="f.tipoDeHabitacion.errors.required">Este Campo Es Requerido</div>
            </div>
          </div>
      
          <div class="col-md-3 mb-3">
            <label class="y">Numero de camas:</label>
            <input [(ngModel)]="habitacion.numeroCamas" type="number" formControlName="numeroCamas" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.numeroCamas.errors }" placeholder="Numero de camas">
      
            <div *ngIf="submitted && f.numeroCamas.errors" class="invalid-feedback">
              <div *ngIf="f.numeroCamas.errors.required">Este Campo Es Requerido</div>
            </div>
          </div>
      
          <div class="col-md-3 mb-3">
            <label class="y">Precio:</label>
            <input [(ngModel)]="habitacion.precio" type="number" formControlName="precio" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" placeholder="Precio">
      
            <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
              <div *ngIf="f.precio.errors.required">Este Campo Es Requerido</div>
            </div>
          </div>
      
        </div>
      
        <button class="btn btn-outline-success new add" type="button" (click)="onSubmit()">Agregar Nueva
          Habitacion</button>
          
      </form>
      <br>
    </div>
    <br>

    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <h5 class="col-sm-2 col-form-label">Habitaciones</h5>
          <input type="text" class="form-control"
            placeholder="Filtrar por Id Cliente, fecha ingreso, salida, habitaciones, estado">
        </div>

        <hr>

        <div class="table-container">
          <table id="tabla" class="table-striped tabla">
            <thead>
              <tr>
                <th scope="col"># Habitacion</th>
                <th scope="col">Tipo</th>
                <th scope="col"># Camas</th>
                <th scope="col">Estado</th>
                <th scope="col">Precio</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habitacion of habitaciones">
                <td>{{habitacion.numeroHabitacion}}</td>
                <td>{{habitacion.tipoDeHabitacion}}</td>
                <td>{{habitacion.numeroCamas}}</td>
                <td>{{habitacion.estado}}</td>
                <td>{{habitacion.precio}}</td>
                <td><a routerLink="#" (click)="update(cliente)" class="button"><span><i class="fas fa-edit"></i></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
